<a href="https://colab.research.google.com/github/Anshuman-Tiwari-2002/DS-project/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#read csv file using panda
df = pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv')

In [2]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

#Justify

1.Here is no null data hence we are not going to drop any column.

Which feature to Keep or Drop

Here we keep all the column because in heart disease all the above parameter will help to decide whether the person has heart disease or not.Hence we keep all parameter(Column).

#Note on

**1. Continuous data**

Continuous data refers to variables that can take on any value within a specific range. Examples of continuous data include age, height, weight, temperature, and income. These variables are typically measured using numerical values, and they can be further subdivided into interval and ratio data. Interval data has equal intervals between the values, but the zero point is arbitrary (e.g. temperature measured in Celsius or Fahrenheit), while ratio data has a true zero point (e.g. weight or height).

**2.Categorical data**

Categorical data, on the other hand, refers to variables that have a limited number of values or categories. Examples of categorical data include gender, color, country of origin, and education level. These variables are typically measured using non-numerical values, such as strings or integers, and they can be further subdivided into nominal and ordinal data. Nominal data has no natural order or ranking between the categories (e.g. color), while ordinal data has a natural order or ranking between the categories (e.g. education level).

**Heatmap, Pair plot, Cluster map**

Heatmap, pair plot, and cluster map are all data visualization techniques that are commonly used in data analysis and machine learning tasks. They provide a visual representation of the relationships between variables in a dataset and can help to identify patterns, correlations, and clusters.

A heatmap is a graphical representation of a matrix, where the values are represented by colors. In the context of data analysis, a heatmap is typically used to show the correlation between pairs of variables in a dataset. A heatmap can help to identify which variables are strongly correlated with each other, and which ones are not. Heatmaps are commonly used in exploratory data analysis (EDA) and can provide valuable insights into the structure of a dataset.

A pair plot is a matrix of scatter plots, where each variable is plotted against every other variable in the dataset. Pair plots can help to visualize the relationships between pairs of variables, and can also reveal any patterns or trends in the data. Pair plots are useful for EDA and can provide insights into the structure and distribution of the data.

A cluster map is a heatmap with hierarchical clustering applied to both rows and columns. In a cluster map, the rows and columns are clustered based on their similarity, and the resulting clusters are displayed as dendrograms on the sides of the heatmap. Cluster maps can help to identify patterns and clusters in the data, and can also reveal any relationships between variables that may not be apparent from a simple heatmap. Cluster maps are commonly used in machine learning tasks, such as clustering and classification, and can help to guide the selection of features and models.

Overall, heatmap, pair plot, and cluster map are all useful data visualization techniques that can provide valuable insights into the relationships between variables in a dataset. They are commonly used in data analysis and machine learning tasks, and can help to guide the selection of features and models, as well as provide insights into the structure and distribution of the data.